<meta http-equiv="refresh" content="60" />
<div class = "row">
<h2> Set Alerts </h2>
<form method="POST" action="/setparams"> 
  <div style="width:30%; float:left">
  <label> Set </label>
  <label> <select name="alert">
   <option value="mem">memory_used</option>
   <option value="cpu">cpu_idle</option>
  </select></label>
  <label>to Percent </label>
  <label> <input style="width:30px;" type="text" name="perc"></label>
  </div>
  <div > <input type="submit" value="set alert!"></div>
</form>

</div>


<div class = "row">

 <h2>Alerts Log</h2>
   <% i = 1 %>
   <% @logFile.split("\n").reverse_each do |line| %>
     <% begin %>
      <div id="accordion" role="tablist" aria-multiselectable="true">
	<div class="card">
    		<div class="card-header" role="tab" id="heading<%=i%>">
      		<h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=i%>" aria-expanded="false" aria-controls="collapse_<%=i%>">
        	 <%= JSON.parse(line)['message'] %> <%= "||" %> <%= JSON.parse(line)['data']['series'][0]['values'][0][0] %>
          </a>
      		</h5>
    		</div>
    		<div id="collapse_<%=i%>" class="collapse" role="tabpanel" aria-labelledby="heading_<%=i%>">
      			<div class="card-block">
      				<pre> <%= JSON.pretty_generate(JSON.parse(line)['data']['series']) %> </pre>
			</div>
    		</div>
  	</div>
      </div>
      <% i= i+1%>
    <% rescue%>
      <%= puts "COULD NOT PARSE JSON!!" %>

    <% end %>
       <%end%>

</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".navbar-nav li").removeClass('active');
    $(".alerts-tab").addClass('active');
});
</script>
